.dashboard-container {
  display: flex;
  font-family: "Poppins", sans-serif;
}

.test {
  position: relative;
}

.dashboard {
  padding: 4rem;
  margin-top: 1.5rem;
  width: 100%;
}

.dashboard-content {
  overflow: hidden;
  width: 100%;
  /* margin-left: 224px; */
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  height: 64px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  position: fixed;
  top: 0;
  width: 84.5%;
  opacity: 100;
  color: #ffff;
  padding-left: 16px;
  padding-right: 16px;
}

.toolbar > div {
  margin: 8px 20px 0px 20px;
}

.toolbar > div > img {
  height: 40px;
  width: 40px;
}

.dashboard-main {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 2rem;
  margin-top: 3rem;
}

.sales {
  display: flex;
  justify-content: space-around;
  background-color: #007272;
  height: 5rem;
}

.promo {
  display: flex;
  justify-content: space-around;
  background-color: #21004d;
  height: 5rem;
}

.coupon img {
  height: 35px;
  width: 35px;
}

.slideshow {
  height: 4rem;
  margin: 2rem 1rem 0 0;
  background-color: rgb(246, 246, 246);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow > img {
  height: 40px;
  width: 40px;
  margin-right: 1rem;
}

.subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0 -1.5rem 0;
  /* background-color: rgb(77, 2, 2); */
}

.subheader > p {
  font-size: 1.5rem;
  color: #040016;
  font-weight: 500;
}

.filter {
  display: flex;
}

.filter > p{
  margin: 0 5px 0 2rem;
  color: #040016;
  font-weight: 200;
}
.card-container {
  background-color: rgb(255, 255, 255);
  display: flex;
  margin-right: 2rem;
  
}

.card-container img {
  height: 150px;
  width: 250px;
}

.card-top {
  background-color:#F6F6F6;
  height: 19rem;
  width: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.card-bottom h3 {
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}

.card-bottom h4 {
  font-weight: 200;
  font-size: 15px;
  margin: 2px 0 2px 0;
  color: #282828;
}

.shoes-description {
  color: rgba(0, 0, 0, 0.69);
  font-size: 11px;
  font-weight: 600;
}

.addCart-btn {
  color: #00a753;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 550;
  line-height: 1.2;
}

.empty__cart {
  position: absolute;
  top: 50%;
}

.cart__container {
  width: 100%;
  height: 100%;
}

.cartItem__image {
  height: 4rem;
}

.table {
  width: 100%;
}
th,
td,
tr {
  color: #00302e;
}
thead {
  font-size: 0.8rem;
}
tr {
  margin-bottom: 2rem !important;
}
tr::after {
  height: 5rem;
  display: table-row;
  content: "";
}

.table thead {
  text-align: justify;
  padding: 1rem 0 1rem 0;
}
.cartItem__name {
  font-size: 1.2rem;
  font-weight: bold;
}
.removeItem__container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.remove__item {
  color: red;
  cursor: pointer;
  font-size: 12px;
}

.checkout__btn__container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.checkout__btn {
  padding: 1rem 0.5rem;
  width: 70%;
  border: none;
  color: rgb(243, 195, 149);
  background-color: #040016;
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
}

.checkout__btn .total__price {
  font-size: 1.2rem;
}

.total__price {
  font-size: 1.5rem;
  font-size: bolder;
}
.total__container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  border-top: 0.5px solid #00302e;
  padding-right: 3rem;
  padding: 1rem 3rem 1rem 1rem;
  margin-top: 1.5rem;
}
.navbar-container {
  display: none;
}
#hamburger-menu {
  display: none;
}

/* @media screen and (max-width: 480px) {
  .modal__content:has(.cart__container) {
    width: 100vw;
    justify-content: center;
  }
  .dashboard {
    padding: 11vh 1rem;
    width: 100vw;
  }
  .test {
    display: none;
  }
} */

@media (max-width: 480px) { /* Adjust the breakpoint as needed */
   .dashboard-container {
    padding: 0;
   
  }
  
  .dashboard {
    width: 100%;
    padding: 3rem 1rem 1rem 1rem;    
  } 

  .dashboard-main {
    grid-template-columns: 1fr 1fr;
    gap: 0;
    margin: 0;
  }
  /* .navbar-container {
    display: none;
  }
  
  .slide {
    display: none;
  }
  .test {
    display: none;
  } */
  
  .dashboard-content {
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
  }

  .drawer {
    display: none;
  }

  .toolbar {
    display: flex;
    height: 64px;
    background: rgba(131, 37, 37, 0.2);
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    color: #fff;
    padding-left: 14px;
    padding-right: 5px;
  }

  .toolbar > div > img {
    height: 22px;
    width: 22px;
    margin: 12px 0 0px 0;    
  }
  
  .card-container {
    background-color: rgb(255, 255, 255);
    display: flex;
    /* grid-gap: 2rem; */
    margin-top: 1.125rem;
    width: 200%;
  }
  
  .card-container img {
    height: 5rem;
    padding: 2px;
  }
  
  .card-top {
    background-color: #ececec5b;
    height: 9rem;
    width: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .card-bottom{
    display: flex;
    flex-direction: column;
    /* float: left; */
    margin-top: 10px;
    /* padding: 0 5px 0 5px; */
  }
}

/* @media (max-width: 767px) {
  .test {
    display: none;
  }

  .dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dashboard-content {
    width: 100%;
  }

  .toolbar {
    display: flex;
    height: 64px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    color: #fff;
    padding-left: 16px;
    padding-right: 16px;
  }

  .toolbar > div {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 20px;
  }

  .toolbar > div > img {
    height: 24px;
    width: 24px;
  }

  .dashboard-content > * {
    max-width: 100%;
  }
} */

@media (min-width: 480px) {
  .dashboard-main {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .dashboard-main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .dashboard-main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

