.profile-container {
    margin-top: 3%;
    padding: 40px;
}

.profile-box {
    display: flex;
}

.profile > img {
    width: 85px;
    height: 85px;
}

.input {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 2rem 0;
}

.MuiTextField-root{
    width: 48%;
}

.profile > Button {
    float: right;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.75;
    min-width: 64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(255, 255, 255);
    background-color: rgb(99, 102, 241);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 5px;
    border-radius: 12px;
    padding: 8px 20px;
}